{% extends 'base.html' %}
{% load material_form %}

{% block title %}Blong-Mongo-Update {% endblock %}
{% block content %}

<h1> Blog Mongo Actualizando entradas</h1>
    <form method="post" action="http://127.0.0.1:8000/">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <input type="hidden" name="id" value="{{post.id}}"></li>
    <input type= "text" name="title" placeholder="Post Title" value="{{ post.title}}" required>
    <input type="text" name="last_update" value="{{ post.last_update}}" required>
    <textarea name="content" placeholder="Enter Content" row=5 cols=50 required={{post.content}}</textarea>
    <input type="submit" value="Save Changes">
    </form>

{% endblock %}